.card-container {
  width: 25%;
  position: relative;

  @media (max-width: 480px) {
    width: 100%;
  }

  .card__nav {
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
  }
}

.card {
  display: flex;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.625rem;
  margin: 5px 10px;
  box-shadow: 5px 3px 20px -4px rgba(0, 0, 0, 0.25);

  &__currency {
    margin-top: 8px;
    margin-right: 5px;
    display: flex;
    align-items: flex-start;
  }

  &__symbol {
    display: flex;
    align-items: flex-start;

    h3 {
      margin: 12px 5px;
    }
  }

  &__info {
    margin: 8px 0;
  }

  &__input {
    padding: 4px 2px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.base-currency {
  background-color: lightskyblue;
}
